body {
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
  /* Normalise your page's sizing, by removing the body element's margin and padding. */
  margin: 0;
  padding: 0;
}